@charset 'utf-8';
// Fonts
// @import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
@import url('https://fonts.googleapis.com/css?family=Questrial');

$dark-blue: #282F44;
$blue-navy: #709dc3;
$base-color: #50686B;
$light-blue: #A6A6B3;
$light-blue-2: #9ED0E6;
$green: #04724D;
$red: #DB3A34;
$yellow: #F7CE5B;
$grey: #E1DEE3;

$handset-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin handset {
  @media (min-width: #{$handset-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin handset-tablet {
  @media (min-width: #{$handset-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body {
  font-size: 1em;
  line-height: 1;
  // font-family: Helvetica, Arial, sans-serif;
  background: $blue-navy;
  // font-family: 'Roboto', 'sans-serif';
  font-family: 'Questrial', sans-serif;


}

br { display: block; line-height: 1.6em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; height: auto; }

h1 {
  // font-family: 'Arvo', Helvetica, sans-serif;
  // font-family: 'Roboto', 'sans-serif';
  font-family: 'Questrial', sans-serif;

  font-size: 4em;
  font-weight: bold;
  letter-spacing: -0.04em;
  color: #fff;
  text-shadow: 1px 2px 0 #446793;
  margin-bottom: 0.1em;
  letter-spacing: 0.01em;
}

/** page construct **/

.navbar-default {
  background-color: $blue-navy;
  border: none;

  @include handset {
    background-color: $dark-blue;
    border: none;
  }
  color: #fff;

  .navbar-nav {
    float: right;
    @include handset {
      float: left;
    }
    >li {
      >a {
        color: #fff;
        background-color: $blue-navy;
        color:#fff;
        @include handset {
          background-color: $dark-blue;
          border: none;
        }

        &:hover {
          background-color: $blue-navy;
          color:$yellow;
          @include handset {
            background-color: $dark-blue;
            border: none;
          }
        }
      }

      &.active {
        >a {
          color: #fff;
          background-color: $blue-navy;
          color:$yellow;
          @include handset {
            background-color: $dark-blue;
            border: none;
          }
          &:hover {
            background-color: $blue-navy;
            color:$yellow;
            @include handset {
              background-color: $dark-blue;
              border: none;
            }
          }
        }
      }
    }
  }
  .navbar-brand {
    color: #fff;
    display:none;
    @include handset {
      display:block;
    }
  }

  .navbar-toggle {
    .icon-bar {
      background-color: #fff;
    }
  }

}

main {
  display: block;
  margin: 0 auto;
  position:absolute;
  top:20%;
  left:30%;
  width:45%;

  @include handset-tablet {
    position:inherit;
    top:3%;
    left:0;
    width:100%;
  }


  .main-wrapper {
    position:relative;
    margin-bottom:3em;
    display: inline-block;

    &.contact {
      text-align: center;
      position:absolute;
      display:inline-block;
      top:5em;
      left: 11%;
      @include tablet {
        top:50%;
        left:38%;
      }
      @include handset {
        top:50%;
        left:18%;
      }
      a {
        font-size: 2em;
        color:#fff;
        margin:0 auto;
        display: block;
        @include tablet {
          font-size: 1.5em;
        }
        @include handset {
          font-size: 1.3em;
        }
      }
    }
  }

  img {
    float:left;

    @include tablet {
      position: relative;
      width:7em;
      margin: 0 auto;
      display: block;
      float:none;
    }
    @include handset {
      width:5em;
      position: relative;
      margin: 0 auto;
      display: block;
      float:none;
    }
  }

  .header {
    margin-top: 1em;
    float:right;
    padding:1em;
    text-align: center;
    @include handset-tablet {
      margin-top: 0;
      display: inline-block;
      width: 100%;
      float:none;
    }
    h1 {
      @include tablet {
        font-size: 3em;
      }
      @include handset {
        font-size: 2em;
      }
    }

    h3 {
      // font-family: 'Roboto', 'sans-serif';
      font-family: 'Questrial', sans-serif;
      font-size: 1em;
      color: #3a567e;
    }


  }


  ul.features {
    clear: both;
    margin:1em auto;
    text-align: center;
    width:100%;
    @include tablet {
      margin:0.5em auto;
      width:67%;
      padding:0;
    }
    @include handset {
      margin:0.5em auto;
      width:100%;
      padding:0;
    }
    padding:2em 0;
    li {
      float:left;
      text-align: center;
      padding:0 0em 0 0;
      margin-right:0.1em;
      width:8em;
      @include handset {
        width: 49%;
      }
      @include tablet {
        width: 32%;
      }
      cursor:pointer;
      font-size: 0.8em;
      margin-top:1em;
      .fa {
        color:#709dc3;
      }
      .fa-stack, .fa-circle {
         color:#fff;
      }
      .fa-large {
        font-size: 4em;
        @include handset {
          font-size: 3em;
        }

      }
      &:hover {
        // background-color: $yellow;
        .fa-circle {
          color:$yellow;
        }

      }
    }
  }
}

footer {
  padding:7em 2em 0 2em;
  text-align:center;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  position: fixed;
  clear:both;
  bottom: 0em;
  width:100%;
  font-size: 0.7em;
  line-height: 1.5em;
  color:$base-color;
  a {
    position:relative;
    top:1em;
  }

  span.copyright {
    position:relative;
    top:1em;
    img {
      width: 3em;
      vertical-align: middle;
    }
    @include handset {
      font-size: 0.9em;
    }
  }


  @include handset-tablet {
    text-align: left;
    padding:7em 1em 0 1em;
    color: $dark-blue;
  }

  .social-networks {
    // border-top: 1px solid $base-color;
    text-align: center;
    // width: 90%;
    // margin: 7em auto 0 auto;
    // z-index:111111;
    float:right;
    display: inline-block;
    position:relative;
    top:-0.5em;



    ul {
      display: inline-block;
      margin:0 auto;
      li {
        float: left;
        padding: 0 0.5em;
      }
    }
  }


}

.logotxt {
  display: block;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 60px;
}

.sublogo {
  font-size: 1.75em;
  color: #3a567e;
}

.featured {
  display: block;
}
.featured p { color: #e0ecf3; text-transform: uppercase; font-weight: bold; margin-bottom: 15px; }


.logos {
  display: block;
}
.logos li { display: block; float: left; margin-right: 15px; }

.logos li img {
  opacity: 0.55;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.logos li img:hover { opacity: 1; }
