body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100vh;
    width: 100vw;
}

@import "base/variables";

// Components
@import "components/container";
@import "components/logo";
@import "components/footer";
@import "components/selector-panel";
@import "components/locate-address-form";
@import "components/searchbox";
@import "components/legend";
@import "components/maplayer";
@import "components/marker_popup";
@import "components/marker_popup_laia";
@import "components/zoom_control";
@import "components/sidenav";
// @import "components/page-title";
// @import "components/page-actions";
// @import "components/callout-auth";
// @import "components/todo";
