.ccm-locate-address-form {
  display:none;
  text-align: center;
  width: 40%;
  height: 21%;
  @include handset-tablet {
    width: 68%;
    height: 27%;
  }
  padding: 0.2em;
  top: 31%;
  left: 30%;
  @include handset-tablet {
    left: 16%;
  }
  z-index: 2222;
  background-color: $selected-color;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 4px -1px rgba(0,0,0,0.49);
  -moz-box-shadow: 6px 6px 4px -1px rgba(0,0,0,0.49);
  box-shadow: 6px 6px 4px -1px rgba(0,0,0,0.49);
  &.show {
    display: block;
  }
  i {
    font-size: 1.6em;
    float:left;
    padding: 0.2em;
    &:before {
      color: white;
    }
  }
  .message {
    // position:absolute;
    top:1em;
    p {
      margin-top: 1em;
      padding:1em;
      font-size: 1em;
      text-align: center;
      @include handset {
        font-size: 0.8em;
      }
      color:white;
      // padding: 0.2em;
    }

    button {
      // background-color: #fff;
      margin:0 1em 1em 1em;
    }
  }

  h3 {
    font-size: 1em;
    @include handset-tablet {
      font-size: 0.8em;
    }
    color: $light-grey-border;
  }

  .input-group {
    display:inline-block;
    padding:1em;
    input.form-control {
      height:3em;
      width:32em;
      @include handset-tablet {
        right: 0.5em;
        // position: absolute;
        width: 14em;
      }
    }

    button {
      height:3em;
    }
  }
}
