.ccm-logo {
  display: inline-block;
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 1111;
  text-align: center;
  @include handset-tablet {
    left: 0em;
  }
  a {
    // letter-spacing: -1px;
    padding: 0.5em 0 0.5em 1.6em;
    background: url('svgs/escudo-cercedilla.svg') -0em center / 1.5em 1.5em no-repeat;
    color: rgba(69,85,102,.9);
    font-size: 1.7em;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 0 2px #ffefef;
  }

}
