.ccm-side-panel {
  z-index:1111;
  position:absolute;

  max-width:200px;
  @include handset {
    max-width:100px;
  }

  button.side-nav {
    position: absolute;
    z-index: 111;

    &.icon-decorator {
      padding:0.8em;
      font-size: 0.85em;
      height: 3em;
      &.left {
        left: 27.2em;
        @include handset {
          left: 9.7em;
        }
        top: 1em;
        // border-top:2px solid $black-transparent;
        // border-right:2px solid $black-transparent;
        // border-bottom:2px solid $black-transparent;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: none;
        background: url('svgs/eject-left-white.svg') 0.3em center / 0.8em 0.8em no-repeat $grey;
        &.selected {
          background: url('svgs/eject-left-white.svg') 0.3em center / 0.8em 0.8em no-repeat #fff;
        }
      }
      &.right {
        // border:2px solid $black-transparent;

        background: url('svgs/eject-right-white.svg') 0.3em center / 0.8em 0.8em no-repeat $grey;
        &.selected {
          background: url('svgs/eject-right-white.svg') 0.3em center / 0.8em 0.8em no-repeat #fff;
        }
      }
    }
  }



  .ccm-poi-list {
    display: block;
    // position: absolute;
    position:relative;
    width:23.2em;
    top: 0em;
    left: -24em;
    z-index: 0;
    -webkit-transition: left 0.3s ease; /* Safari */
    transition: left 0.3s ease;
    @include handset {
      width:8.2em;
    }
    &.open {
      left: 0em;
    }

    .arrow {
      width: 100%;
      text-align: center;
      position:absolute;
      background-color: $green-transparent;
      overflow:hidden;
      z-index:2222;
      &.top {
        top: 0.15em;
        border-top-right-radius : 10px;
        border-top-left-radius : 10px;
      }
      &.down {
        bottom:0.15em;
        border-bottom-right-radius : 10px;
        border-bottom-left-radius : 10px;
      }
      &.hide {
        display: none;
      }
    }


    .list-group {
      max-height: 500px;
      overflow: scroll;
      border: 2px solid $grey;
      border-radius: 10px;

      .list-group-item {
        // text-align: center;
        border: 1px solid $light-grey-border;
        background-color: $light-grey-transparent;
        color:$grey;
        padding:15px 0px 0px 0px;
        cursor:pointer;
        border-radius:0;
        font-size: 0.9em;
        &:last-child {
          padding:15px 0px 15px 0px;
        }
        &.title {
          padding:10px;
          border:none;
          &:not(:first-child) {
            margin-top:1em;
          }
        }
        h5 {
          color:$light-grey;
          margin:0;
          font-size: 1.4em;
          @include handset {
            font-size: 1.2em;
          }
        }
        img {
          width: 100%;
          border: 1px solid $light-grey-border;
        }
        @include handset {
          font-size:0.8em;
          img {
            // width: 89px;
          }
        }
        .text-poi {
          display: inline-block;
          margin-left:0.2em;
          text-transform: capitalize;
          .glyphicon {
            margin-right: 0.1em;
          }
        }
      }
    }



  }
}
