.ccm-footer {
  display: inline-block;
  position: fixed;
  bottom: 4px;
  width: 100%;
  font-size: .8em;
  z-index: 1111;
  text-align: center;
  a {
    // letter-spacing: -1px;
    color: rgba(69,85,102,.9);
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 0 2px #ffefef;
  }
}
