.ccm-searchbox {
  right:3em;
  position:absolute;
  width: 17em;
  top:-4em;
  z-index:0;
  transition: top .35s cubic-bezier(.48,-0.28,.41,1.4);

  &.open {
    display:inline-block;
    top:3.2em;
  }

  .input-group {
    input.form-control {
      height:3em;
    }

    button {
      height:3em;
    }
  }

}
